.room__management{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    gap: 5vh;
}
.join__room{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    gap: 20px;
}