.room{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.resetbutton {


    width: 200px;
    height: 50px;


    border: 2px solid black; /* Opcional: para mejor visibilidad */
}